@font-face {
    font-family: 'Lastica';
    src:
      url('/fonts/Lastica-1760012/Lastica.otf')   format('opentype'),
      url('/fonts/Lastica-1760012/Lastica.ttf')   format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }