@font-face {
  font-family: "Lastica";
  src: url("/fonts/Lastica-1760012/Lastica.otf") format("opentype"),
    url("/fonts/Lastica-1760012/Lastica.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Orbitron";
  src: url("/fonts/Orbitron/Orbitron-VariableFont_wght.ttf") format("truetype");
  font-optical-sizing: auto;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope/Manrope-VariableFont_wght.ttf") format("truetype");
  font-optical-sizing: auto;
    font-weight: 800;
  font-display: swap;
}