---
import MenuItem from "@/components/Menu/MenuItem.astro";
import Menu from "@/components/Menu/Menu.astro";
import { SiteData } from "@/content/SiteData";
---

<footer class="w-19/20 flex flex-col lg:flex-row justify-between items-center py-[var(--spacing-md)] gap-[var(--spacing-lg)] lg:gap-0 mx-auto">
  <Menu
    collection="menuItems"
    query="relatedItem:menus:footerMenu"
    sortOrder="desc"
    ItemComponent={MenuItem}
    itemsClass="flex gap-[var(--spacing-md)] lg:gap-[var(--spacing-xl)] justify-center items-center flex-wrap h6 uppercase"
    itemClass="p-[var(--spacing-sm)]"
  />
  <p class="p-0 m-0 h6 text-center">
    &copy; {new Date().getFullYear()} {SiteData.title} LLC All rights reserved.
  </p>
</footer>
