---
import { SiteData } from "@/content/SiteData";
import { Image } from "astro:assets";
import Menu from "@/components/Menu/Menu.astro";
import MenuItem from "@/components/Menu/MenuItem.astro";
import Submenu from "@/components/Menu/Submenu.astro";
import MobileMenuItem from "@/components/Menu/HamburgerMenu/MenuItem.jsx";
import VideoLogo from "./VideoLogo";
import Logo from "@/components/Logo/Logo.astro";
import AccentPicker from "./AccentPicker";
import { CircleCheckbox } from "./CircleCheckbox";
import ThemeToggle from "./ThemeToggle"

const breakpoint = "lg";
---

<header
  class="fixed inset-x-[1.5%] flex justify-between items-center px-[var(--spacing-sm)] md:py-[var(--spacing-sm)] z-[9999]"
>
  <!-- Logo / site identity -->
  <Logo />
<div class="flex gap-[var(--spacing-sm)] absolute top-1/2 left-1/2 transform -translate-1/2">
  <ThemeToggle client:load/>
  <AccentPicker client:load />
</div>

  <Menu
    collection="menuItems"
    query="relatedItem:menus:mainMenu"
    sortOrder="asc"
    manualOrder={true}
    responsive={true}
    breakpoint={breakpoint}
    hamburgerOnly={true}
    desktop={{
      itemsClass: "flex gap-[var(--spacing-md)] bg-bg",
      itemClass: "",
      menuItem: {
        // component: MenuItem,
        props: {
          itemClass: "px-2 py-1 text-primary hover:text-primary",
          linkClass:
            "flex items-center space-x-[var(--spacing-xs)] font-bold transition-colors duration-200",
          hierarchical: true,
          submenu: {
            component: Submenu,
            itemsClass:
              "submenu absolute left-0 top-full w-fit bg-gray-50 border border-gray-200 shadow-lg opacity-0 pointer-events-none transition-opacity duration-200 ease-in-out z-[100]",
            subMenuItem: {
              component: MenuItem,
              props: {
                itemClass:
                  "px-4 py-2 hover:bg-gray-100 text-primary hover:text-primary",
                linkClass:
                  "flex items-center space-x-[var(--spacing-xs)] font-medium transition-colors duration-200",
                hierarchical: true,
                subMenuItem: null,
              },
            },
          },
        },
      },
    }}
    mobile={{
      itemsClass: "flex flex-col gap-[var(--spacing-md)]",
      hamburgerTransform: true,
      menuItem: {
        component: MobileMenuItem,
        props: {
          itemClass:
            "p-[var(--spacing-sm)] h2 text-primary hover:text-primary",
          linkClass: "w-full text-left justify-center items-center",
          hierarchical: true,
          submenu: {
            component: MobileMenuItem,
            itemsClass: "ml-4 border-l border-gray-200",
            subMenuItem: {
              component: MobileMenuItem,
              props: {
                itemClass: "p-[var(--spacing-sm)] text-base text-primary",
                linkClass: "w-full text-left",
                hierarchical: true,
                subMenuItem: null,
              },
            },
          },
        },
      },
      shared: {
        collection: "menuItems",
        query: "relatedItem:menus:mainMenu",
        sortOrder: "asc",
        HasPage: true,
      },
      checkboxId: "hamburger-menu-toggle",
    }}
  />
</header>
