---
// src/components/Logo.astro
import { Image } from "astro:assets";
import { SiteData } from "@/content/SiteData";
import VideoLogo from './VideoLogo';
---
  <a href="/" class="flex items-center">
    <VideoLogo
        alt="Griffin's Web Services Animated Logo"
        className="h-full w-auto"
        client:load
      />
    <div class="ml-[var(--spacing-sm)]">
      <div class="text-xl font-bold">{SiteData.title}</div>
      <div class="text-sm text-text">{SiteData.tagline}</div>
    </div>
  </a>
