---
// src/components/ThemeControls.astro

import ThemeToggle from '../ThemeToggle.jsx';
import AccentPicker from '../AccentPicker.jsx';
---
<div class="flex gap-[var(--spacing-sm)] absolute top-1/2 left-1/2 transform -translate-1/2">
  <ThemeToggle client:load />
  <AccentPicker client:load />
</div>
