.theme-toggle-icon {
  display: block;
  line-height: 0;
}

.theme-toggle-icon--sun {
  display: none;
}

[data-theme="light"] .theme-toggle-icon--sun {
  display: block;
}

[data-theme="light"] .theme-toggle-icon--moon {
  display: none;
}

[data-theme="dark"] .theme-toggle-icon--sun {
  display: none;
}

[data-theme="dark"] .theme-toggle-icon--moon {
  display: block;
}
